.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 400;
  width: 100%;
  background-color: #F28482;
  background-image: url("/images/asfalt-light.png");
  top: 120px;
}

.profile-name {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

.profile-first-last-name {
  font-weight: normal;
  margin-top: 10px;
}

